BASE_URL=http://ddbd.tphcm.com/
PLAYWRIGHT_PROXY=

ADMIN_USERNAME=
ADMIN_PASSWORD=

STANDARD_USERNAME=
STANDARD_PASSWORD=

LOCKOUT_TEST_USERNAME=
LOCKOUT_TEST_PASSWORD=

RUN_DESTRUCTIVE=false
RUN_SECURITY=false
RUN_LONG_RUNNING=false

HEADLESS=true
SLOW_MO=0
